node_modules/
.config.*.json
*.json.backup
.npm
.env
latest.json
latest.ttl
*.drawio.bkp
/data/in/
/data/out/
*.old
/nodered/data/node_modules/
/nodered/data/.npm/
/nodered/data/lib/
/nodered/data/*.backup
/nodered/data/.config.*.backup
/nodered/data/flows_cred.json.backup
/nodered/data/flows_cred.json

/emqx/log/

**/log/
**/*.log

.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.idea/
.ipynb_checkpoints